<h2>Default content.phtml</h2>
<p><?php echo $this->get('message')?></p>

<ul>
<li><?php echo $this->link('Link to demo/route1', '_demo', array('action' => 'route1', 'message' => 'HelloFromUri'))?></li>
<li><?php echo $this->link('Link to demo/route2', '_demo', array('action' => 'route2'))?></li>
</ul>

