<ul>
<?php if(empty($_list)) : ?>
	<li class="empty">FIXME:eMPTY</li>
<?php endif ?>
<?php foreach($_list as $item) : ?>
	<li><a href="<?php echo $this->url('_user', array('action' => 'view', 'id' => $item->get('id')))?>">#<?php echo $item->get('id')?> <?php echo $item->get('name')?></a></li>
<?php endforeach ?>
</ul>
