<ul>
    <?php while($data = $_result->fetch()) : ?>
    <li><?php echo $this->link($data->get('updated'), '_wiki', array('page' => $data->get('name'), 'id' => $data->getId()))?>
        - <?php echo $this->escape($data->get('title'))?>
    </li>
    <?php endwhile ?>
</ul>
