<ul class="menu clear">
    <li><?php echo $this->link('Administration', '_admin')?></li>
    <li><?php echo $this->link('Configuration', '_admin', array('controller' => 'config'))?></li>
    <li><?php echo $this->link('Router', '_admin', array('controller' => 'router'))?></li>
    <li><?php echo $this->link('Layout', '_admin', array('controller' => 'layout'))?></li>
    <li><?php echo $this->link('Modules', '_admin', array('controller' => 'module'))?></li>
</ul>
