<?php if(!empty($_adminMenu)) : ?>
<div class="sidebar">
    <ul>
    <?php foreach($_adminMenu as $item) : ?>
        <li><a href="<?=htmlspecialchars($item[1])?>"><?=htmlspecialchars($item[0])?></a></li>
    <?php endforeach ?>
    </ul>
</div>

<?php endif ?>
