
.su-admin  {
    .sidebar {
        float: left;
        margin: 5px;
        padding: 5px 10px;
        border: 5px solid rgba(0,0,0,.2);
        background-color: rgba(0,0,0,.1);
        
        > ul {
            list-style: none !important;
            > li {
                padding: 0 !important;
                margin: 0 !important;
            }
        }
    }
}

