<?php echo $this->getDocType() ?>
<?php echo $this->getHtmlOpenTag() ?>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title><?php echo $this->get('title')?></title>
    <link rel="icon" type="image/png" href="<?php echo $this->asset('image/favicon.png')?>" />
    <link rel="stylesheet" type="text/css" href="<?php echo $this->asset('css/main.css')?>" />
    <?php echo $this->import('head', false)?>
</head>
<body>
<div id="body">
    <div id="header" class="clear">
        <div>
            <?php if($this->import('header-menu', false, true) === false) : ?>
                <ul class="menu clear">
                    <?php
                        if($menu = \susuka\core\Registry::get('config')->get('app.menu')) {
                            echo $this->helper('html/Menu', $menu);
                        } else {
                            echo '<li><div class="error">No menu configured, see app.menu</div></li>';
                        }
                    ?>
                    <?php echo $this->import('header-menu-extra', false)?>
                </ul>
            <?php endif; ?>
        </div>
        <?php $id = 1; while($menu = $this->import('header-menu-'.$id++, false)) : ?>
        <div><?=$menu?></div>
        <?php endwhile ?>
    </div>
    <div id="content" class="clear <?=$this->get('content-class')?>">
        <h1><?php echo $this->get('title')?></h1>
        <?php echo $this->content()?>
    </div>
    <div id="footer" class="clear">
        <ul class="menu clear">
            <?php echo $this->helper('html/Debug')?>
            <?php
                if($menu = \susuka\core\Registry::get('config')->get('app.menu-footer')) {
                    echo $this->helper('html/Menu', $menu);
                } else {
                    echo '<li><div class="error">No menu configured, see app.menu</div></li>';
                }
            ?>
        </ul>
    </div>
</div>
</body>
</html>
