.su-wiki > .content {
    h1 {
        font-size: 1.5em;
    }
    
    h2 {
        font-size: 1.25em;
    }
    
    h3 {
        font-size: 1.15em;
    }
    
    h4 {
        font-size: 1em;
    }
    
    h5 {
        font-size: 1em;
    }
    
    h6 {
        font-size: 1em;
    }
}
