<h2>Things appear to be working</h2>
<p>You've successfully installed <?php echo SU_TITLE?> version <?php echo SU_VERSION?></p>

<h2>Information</h2>
<p>Susuka Framework is a framework for web applications written in modern, object-oriented PHP.
It runs on any webserver that has support for PHP, like
<a href="#fixme">Nginx</a>
<a href="#fixme">Lighttpd</a> or
<a href="#fixme">Apache</a>.
</p>

<h2>Where do I go from here?</h2>
<h3>Create your own application</h3>
<pre>
$ bin/console app new myapp
$ bin/console app init myapp
</pre>

<h3>Create your own module</h3>
<p>FIXME</p>

<h3>Need more help?</h3>
<p>Please refer to the <a href="#fixme">documentation</a> for further information.</p>

