/**
 * 
 * 
 */

$footer-height: 25px;
$text-color: #000;
$link-color: #00f;
$background-color: #fff;
$header-text-color: #ccc;
$header-background-color: #000;
$footer-text-color: #ccc;
$footer-background-color: #000;

@mixin center {
    max-width: 1000px;
    margin: 0 auto;
}

@mixin border-box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

@mixin clear-after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

html, body {
    color: $text-color;
    background-color: $background-color;
    height: 100%;
}

body {

    p {
        padding: .25em;
        margin-bottom: 1em;
    }
    
    pre {
        margin-bottom: 1em;
    }

    a {
        color: $link-color;
    }
    
    .clear:after,
    .clear-left:after,
    .clear-right:after {
        @include clear-after;
    }

    .clear-left:after {
        clear: left;
    }

    .clear-right:after {
        clear: right;
    }
    
    .menu {
        list-style: none;

        li {
            float: left;
            
            > * {
                display: block;
            }
        }
    }
    .menu ul {
        display: none;
        list-style: none;
        
        li {
            float: none;
        }
    }
    .menu li:hover ul {
        display: block;
    }
}

form {
    textarea {
        width: 100%;
        min-height: 10em;
    }
    
    ol {
        list-style: none;
    }
}

#body {
    min-height: 100%;
    position: relative;
}

#header {
    color: #333;
    background-color: #eee;
    
    
    .menu {
        @include center;
        
        li {
                
            > * {
                color: $link-color;
                text-decoration: none;
                padding: 5px 10px;
                font-size: 15px;
            }
            
            a:hover {
                background-color: rgba(0,0,100,.05);
            }

            a[class=selected] {
                background-color: rgba(0,0,0,.1);
            }
        }
    }
    
    > *:first-child {
        color: $header-text-color;
        background-color: $header-background-color;
        .menu {
            li {
                    
                > * {
                    color: $header-text-color;
                    font-weight: bold;
                    padding: 10px;
                    font-size: 16px;
                }
                
                a:hover {
                    color: #fff;
                }

                a[class=selected] {
                    color: #eee;
                }
            }
        
            li:first-child a {
                color: #cfc;
            }
            
            li:last-child {
                float: right;
            }
            
            li:first-child a:hover {
                background-color: transparent;
                border-bottom-color: transparent;
            }
        }
    }
}

#content {
    padding: 0 10px $footer-height 10px;
    @include center;
    
    li {
        margin-left: 2em;
    }
    
    
    form {
        * {
            @include border-box;
        }
        
        &:after {
            @include clear-after;
        }
            
        button,
        input,
        select,
        textarea {
            color: #000;
            background-color: #fff;
            border: 1px solid #666;
            padding: 2px;
        }
        
        button,
        input[type=button],
        input[type=submit],
        input[type=reset],
        input[type=clear] {
            cursor: pointer;
            
            &:hover {
                background-color: #ccc;
            }
        }
        
        textarea {
            width: 100%;
            min-height: 10em;
            resize: vertical;
        }
        
        .error {
            color: #f00;
        }
        
        > ol {
            * {
                list-style: none;
            } 
            
            > li {
                clear: left;
                padding: 5px;
            }
            
            
            > li:last-child {
                text-align: center;
            }
            
            label {
                display: block;
            }
            
            ol,
            select,
            input[type=text],
            input[type=password] {
                width: 100%;
                max-width: 400px;
            }
            
            ol > li {
                padding: 5px;
                margin: 0;
                float: left;
            }
        }
    }
}

#footer {
    color: $footer-text-color;
    background-color: $footer-background-color;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: $footer-height;
    line-height: $footer-height;
    
    .menu {
        @include center;
        
        li > * {
            color: $footer-text-color;
            margin: 0 5px;
            font-size: 14px;
            text-decoration: none;
        }
        
        li:last-child {
            float: right;
        }
        
        ul {
            padding: 5px;
            background: #000;
            position: absolute;
            bottom: 0;
            margin-bottom: $footer-height;
            line-height: normal;

            li > * {
                color: #ccc;
                font-size: 12px;
            }
            
            li:last-child {
                float: none;
            }
        }
    }
}

@media screen and (max-width: 800px) {
    #header {
        .menu {
            padding-top: 0;
        
            li  > * {
                font-size: 12px;
                line-height: 25px;
                padding: 0 5px;
            }
            
            li:first-child a {
                font-size: 12px;
                padding: 0 10px 0 20px;
            }
        }
    }
}

@media screen and (max-width: 500px) {
    #header {
        .menu {
            li:first-child a {
                display: none;
            }
        }
    }
    #footer .menu li > * {
        font-size: 12px;
    }
}
